.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-links{
    text-align: right;
    display: inline;
}
.navbar-ul{
    list-style-type: none;
}
.navbar-li{
    display: inline;
    padding-left: 30px;
}
.catLogo{
    width: 73px;
    height: 80px;
    transform: rotate(180deg);
}
.img-cats{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}
.cats-box1, .cats-box2, .cats-box3, .cats-box4, .cats-box5, .cats-box6{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-1, .img-2, .img-3, .img-7, .img-8, .img-9{
width: 400px;
height: 640px;
border: 2px solid #FFFFFF;
}
.img-4, .img-5, .img-10, .img-11{
width: 600px;
height: 640px;
border: 2px solid #FFFFFF;
}
.img-6, .img-12{
width: 1200px;
height: 700px;
border: 2px solid #FFFFFF;
}
