@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}
body{
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
}
.equipamentos-container{
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  border-radius: 5px;
}
.TituloEquipamento{
  color: #68BD6F;
  font-size: 50px;
}
.DescricaoEquipamento{
  font-style: normal;
}
.Box01, .Box02, .Box03, .Box04, .Box05{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CardBox01, .CardBox02, .CardBox03, .CardBox04, .CardBox05{
  background-color: #ffffff;
  width: 380px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 8px 1px #0000002d;
  border-radius: 30px;
}
.ImgBox01, .ImgBox02, .ImgBox03, .ImgBox04, .ImgBox05{
  width: 220px;
  border-radius: 30px;
}
.TituloEqBox01, .TituloEqBox02, .TituloEqBox03, .TituloEqBox04, .TituloEqBox05{
  margin: 5px;
  padding: 7px;
  text-align: center;
  font-size: 25px;
  color: #3A3132;
}
.DescricaoEqBox01, .DescricaoEqBox02, .DescricaoEqBox03, .DescricaoEqBox04, .DescricaoEqBox05{
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #3A3132;
  height: 60px;
}
.DisponibilidadeEqBox01, .DisponibilidadeEqBox02, .DisponibilidadeEqBox03, .DisponibilidadeEqBox04, .DisponibilidadeEqBox05{
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  background-color: #2D8034;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 11px;
  border-radius: 10px;
  width: 111px;
}